<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/consultar.css">
    <title>Consultar</title>
  </head>
  <body>
    <!-- barra de navegación con include-->
     <div class="container-inicio_header">
      <%- include('./components/navbar.ejs') %>
      <%- include('./components/estadoEmpleado.ejs') %>
     </div>

     <div class="container-inicio_card">
      <%- include('./components/cardEmpleado.ejs') %>
     </div>

    <!-- contenido principal -->
    <div class="container-inicio">
      <div class="container-inicio_card">
        <div class="container-inicio_btn">
          <button type="button" class="container-inicio_btnHerramienta"><img src="/img/herramienta.png" alt=""></button>
          <button type="button" class="container-inicio_btnHerramienta"><img src="/img/botiquin.png" alt=""></button>
          <button type="button" class="container-inicio_btnHerramienta"><img src="/img/dotacion.png" alt=""></button>
        </div>
    
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
  
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
  
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
  
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
  
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
  
          <div class="container-herramienta_observacion">
            <div class="container-inicio_card_Obs">
              <h4>Observacion de realizada en la inspecion del operario</h4>
            </div>
            <div class="contianiner-inicio_card-suspervisor">
              <p>Carlos Marquez</p>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
