<link rel="stylesheet" href="/css/cardEmpleado.css">

<div class="container-card">
    <div class="container-card_img">
        <img src="/img/1090415914_2000.jpg" alt="">
    </div>
    <div class="container-card_datos">
        <div class="container-card_datos-name">
            <h2 class="container-card_datos-name-h2">Carlos Marquez</h2>
        </div>
        <div class="container-card_datos-descripcion">
            <p class="container-card_datos-descripcion-p">Operativo 1</p>
        </div>
    </div>
</div>